In [34]:
import numpy
import pandas as pd
import os

In [35]:
basedir = 'trainingdata'
filelist = os.listdir(basedir)
df_list = []
for file in filelist:
    if file == '.DS_Store':
        continue
    df = pd.read_csv(os.path.join(basedir,file), sep='Aw3s0meSc0t7', names=['raw_sql'], header=None, engine='python')
    df['type'] = 'plain' if file.split('.')[0] == 'plain' else 'sqli'
    df_list.append(df)

In [36]:
dataframe = pd.concat(df_list, ignore_index=True)
dataframe.dropna(inplace=True)
print (dataframe['type'].value_counts())

sqli     5928
plain    3694
Name: type, dtype: int64

In [37]:
dataframe.columns

Index(['raw_sql', 'type'], dtype='object')

In [38]:
dataframe['type'].unique()

array(['plain', 'sqli'], dtype=object)

In [39]:
dataframe.head()

                                        raw_sql   type
0                           Add plain text here  plain
1                    “Ne te quaesiveris extra.”  plain
2   “Man is his own star; and the soul that can  plain
3           Render an honest and a perfect man,  plain
4  Commands all light, all influence, all fate;  plain

In [40]:
dataframe.tail()

                                  raw_sql  type
9617  ;drop databases if exists wordpress  sqli
9618  ; DROP DATABASES IF EXIST wordpress  sqli
9619           ; DORP DATABASES wordpress  sqli
9620                           ' or ''='#  sqli
9621                          " or ""="--  sqli

In [41]:
dataframe.shape

(9622, 2)

In [42]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9622 entries, 0 to 9621
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   raw_sql  9622 non-null   object
 1   type     9622 non-null   object
dtypes: object(2)
memory usage: 225.5+ KB

In [43]:
dataframe.isnull().sum()

raw_sql    0
type       0
dtype: int64

In [44]:
import re
sql_regex = re.compile("(?P<UNION>UNION\s+(ALL\s+)?SELECT)|(?P<PREFIX>([\'\"\)]|((\'|\"|\)|\d+|\w+)\s))(\|\|\&\&|and|or|as|where|IN\sBOOLEAN\sMODE)(\s|\()(\(?\'?-?\d+\'?(=|LIKE|<|>|<=|>=)\'?-?\d+|\(?[\'\"\\\"]\S+[\'\"\\\"](\s+)?(=|LIKE|<|>|<=|>=)(\s+)?[\'\"\\\"]))|(?P<USUAL>([\'\"]\s*)(\|\||\&\&|and|or)(\s*[\'\"])(\s*[\'\"])=)|(?P<DROP>;\s*DROP\s+(TABLE|DATABASE)\s(IF\s+EXISTS\s)?\S+)|(?P<NOTIN>\snot\sin\s?\((\d+|(\'|\")\w+(\'|\"))\))|(?P<LIMIT>LIMIT\s+\d+(\s+)?,(\s+)?\d+)|GROUP_CONCAT\((?P<GRPCONCAT>.*?)\)|(?P<ORDERBY>ORDER\s+BY\s+\d+)|CONCAT\((?P<CONCAT>.*?)\)|(?P<CASEWHEN>\(CASE\s(\d+\s|\(\d+=\d+\)\s|NULL\s)?WHEN\s(\d+|\(?\d+=\d+\)?|NULL)\sTHEN\s(\d+|\(\d+=\d+\)|NULL)\sELSE)|(?P<DBNAME>(?:(?:m(?:s(?:ysaccessobjects|ysaces|ysobjects|ysqueries|ysrelationships|ysaccessstorage|ysaccessxml|ysmodules|ysmodules2|db)|aster\.\.sysdatabases|ysql\.db)|s(?:ys(?:\.database_name|aux)|chema(?:\W*\(|_name)|qlite(_temp)?_master)|d(?:atabas|b_nam)e\W*\(|information_schema|pg_(catalog|toast)|northwind|tempdb)))|(?P<DATABASE>DATABASE\(\))|(?P<DTCNAME>table_name|column_name|table_schema|schema_name)|(?P<CAST>CAST\(.*AS\s+\w+\))|(?P<INQUERY>\(SELECT[^a-z_0-9])|(?P<CHRBYPASS>((CHA?R\(\d+\)(,|\|\||\+)\s?)+)|CHA?R\((\d+,\s?)+\))|(?P<FROMDB>\sfrom\s(dual|sysmaster|sysibm)[\s.:])|(?P<MYSQLFUNC>[^.](ABS|ACOS|ADDDATE|ADDTIME|AES_DECRYPT|AES_ENCRYPT|ANY_VALUE|ASCII|ASIN|ASYMMETRIC_DECRYPT|ASYMMETRIC_DERIVE|ASYMMETRIC_ENCRYPT|ASYMMETRIC_SIGN|ASYMMETRIC_VERIFY|ATAN|ATAN2|AVG|BENCHMARK|BIN|BIT_AND|BIT_COUNT|BIT_LENGTH|BIT_OR|BIT_XOR|CAST|CEIL|CEILING|CHAR|CHAR_LENGTH|CHARACTER_LENGTH|CHARSET|COALESCE|COERCIBILITY|COLLATION|COMPRESS|CONCAT|CONCAT_WS|CONNECTION_ID|CONV|CONVERT|CONVERT_TZ|COS|COT|COUNT|COUNT|CRC32|CREATE_ASYMMETRIC_PRIV_KEY|CREATE_ASYMMETRIC_PUB_KEY|CREATE_DH_PARAMETERS|CREATE_DIGEST|CURDATE|CURRENT_DATE|CURRENT_TIME|CURRENT_TIMESTAMP|CURRENT_USER|CURTIME|DATABASE|DATE|DATE_ADD|DATE_FORMAT|DATE_SUB|DATEDIFF|DAY|DAYNAME|DAYOFMONTH|DAYOFWEEK|DAYOFYEAR|DECODE|DEFAULT|DEGREES|ELT|ENCODE|EXP|EXPORT_SET|EXTRACT|EXTRACTVALUE|FIELD|FIND_IN_SET|FLOOR|FORMAT|FOUND_ROWS|FROM_BASE64|FROM_DAYS|FROM_UNIXTIME|GeometryCollection|GET_FORMAT|GET_LOCK|GREATEST|GROUP_CONCAT|GTID_SUBSET|GTID_SUBTRACT|HEX|HOUR|IF|IFNULL|IIF|IN|INET_ATON|INET_NTOA|INET6_ATON|INET6_NTOA|INSERT|INSTR|INTERVAL|IS_FREE_LOCK|IS_IPV4|IS_IPV4_COMPAT|IS_IPV4_MAPPED|IS_IPV6|IS_USED_LOCK|ISNULL|JSON_APPEND|JSON_ARRAY|JSON_ARRAY_APPEND|JSON_ARRAY_INSERT|JSON_CONTAINS|JSON_CONTAINS_PATH|JSON_DEPTH|JSON_EXTRACT|JSON_INSERT|JSON_KEYS|JSON_LENGTH|JSON_MERGE|JSON_OBJECT|JSON_QUOTE|JSON_REMOVE|JSON_REPLACE|JSON_SEARCH|JSON_SET|JSON_TYPE|JSON_UNQUOTE|JSON_VALID|LAST_INSERT_ID|LCASE|LEAST|LEFT|LENGTH|LineString|LN|LOAD_FILE|LOCALTIME|LOCALTIMESTAMP|LOCATE|LOG|LOG10|LOG2|LOWER|LPAD|LTRIM|MAKE_SET|MAKEDATE|MAKETIME|MASTER_POS_WAIT|MAX|MBRContains|MBRCoveredBy|MBRCovers|MBRDisjoint|MBREquals|MBRIntersects|MBROverlaps|MBRTouches|MBRWithin|MICROSECOND|MID|MIN|MINUTE|MOD|MONTH|MONTHNAME|MultiLineString|MultiPoint|MultiPolygon|NAME_CONST|NOT IN|NOW|NULLIF|OCT|OCTET_LENGTH|OLD_PASSWORD|ORD|PERIOD_ADD|PERIOD_DIFF|PI|Point|Polygon|POSITION|POW|POWER|PROCEDURE ANALYSE|QUARTER|QUOTE|RADIANS|RAND|RANDOM_BYTES|RELEASE_ALL_LOCKS|RELEASE_LOCK|REPEAT|REPLACE|REVERSE|RIGHT|ROUND|ROW_COUNT|RPAD|RTRIM|SCHEMA|SEC_TO_TIME|SECOND|SESSION_USER|SHA1|SHA2|SIGN|SIN|SLEEP|SOUNDEX|SPACE|SQRT|ST_Area|ST_AsBinary|ST_AsGeoJSON|ST_AsText|ST_Buffer|ST_Buffer_Strategy|ST_Centroid|ST_Contains|ST_ConvexHull|ST_Crosses|ST_Difference|ST_Dimension|ST_Disjoint|ST_Distance|ST_Distance_Sphere|ST_EndPoint|ST_Envelope|ST_Equals|ST_ExteriorRing|ST_GeoHash|ST_GeomCollFromText|ST_GeomCollFromWKB|ST_GeometryN|ST_GeometryType|ST_GeomFromGeoJSON|ST_GeomFromText|ST_GeomFromWKB|ST_InteriorRingN|ST_Intersection|ST_Intersects|ST_IsClosed|ST_IsEmpty|ST_IsSimple|ST_IsValid|ST_LatFromGeoHash|ST_Length|ST_LineFromText|ST_LineFromWKB|ST_LongFromGeoHash|ST_MakeEnvelope|ST_MLineFromText|ST_MLineFromWKB|ST_MPointFromText|ST_MPointFromWKB|ST_MPolyFromText|ST_MPolyFromWKB|ST_NumGeometries|ST_NumInteriorRing|ST_NumPoints|ST_Overlaps|ST_PointFromGeoHash|ST_PointFromText|ST_PointFromWKB|ST_PointN|ST_PolyFromText|ST_PolyFromWKB|ST_Simplify|ST_SRID|ST_StartPoint|ST_SymDifference|ST_Touches|ST_Union|ST_Validate|ST_Within|ST_X|ST_Y|StartPoint|STD|STDDEV|STDDEV_POP|STDDEV_SAMP|STR_TO_DATE|STRCMP|SUBDATE|SUBSTR|SUBSTRING|SUBSTRING_INDEX|SUBTIME|SUM|SYSDATE|SYSTEM_USER|TAN|TIME|TIME_FORMAT|TIME_TO_SEC|TIMEDIFF|TIMESTAMP|TIMESTAMPADD|TIMESTAMPDIFF|TO_BASE64|TO_DAYS|TO_SECONDS|TRIM|TRUNCATE|UCASE|UNCOMPRESS|UNCOMPRESSED_LENGTH|UNHEX|UNIX_TIMESTAMP|UpdateXML|UPPER|USER|UTC_DATE|UTC_TIME|UTC_TIMESTAMP|UUID|UUID_SHORT|VALIDATE_PASSWORD_STRENGTH|VALUES|VAR_POP|VAR_SAMP|VARIANCE|VERSION|WAIT_FOR_EXECUTED_GTID_SET|WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS|WEEK|WEEKDAY|WEEKOFYEAR|WEIGHT_STRING|YEAR|YEARWEEK)\()|(?P<BOOLEAN>\'?-?\d+\'?(=|LIKE)\'?-?\d+($|\s|\)|,|--|#)|[\'\"\\\"]\S+[\'\"\\\"](\s+)?(=|LIKE)(\s+)?[\'\"\\\"]\S+)|(?P<PLAIN>(@|##|#)[A-Z]\w+|[A-Z]\w*(?=\s*\.)|(?<=\.)[A-Z]\w*|[A-Z]\w*(?=\()|`(``|[^`])*`|´(´´|[^´])*´|[_A-Z][_$#\w]*|[가-힣]+)", re.IGNORECASE)

In [45]:
sql_regex

re.compile(r'(?P<UNION>UNION\s+(ALL\s+)?SELECT)|(?P<PREFIX>([\'"\)]|((\'|"|\)|\d+|\w+)\s))(\|\|\&\&|and|or|as|where|IN\sBOOLEAN\sMODE)(\s|\()(\(?\'?-?\d+\'?(=|LIKE|<|>|<=|>=)\'?-?\d+|\(?[\'"\"]\S+[\'"\"](\s+)?(=|LIKE|<|>|<=|>=)(\s+)?[\'"\"]))|(?P<USUAL>([\'"]\s*)(\|\||\&\&|and|or)(\s*[\'"])(\s*[\'"])=)|(?P<DROP>;\s*DROP\s+(TABLE|DATABASE)\s(IF\s+EXISTS\s)?\S+)|(?P<NOTIN>\snot\sin\s?\((\d+|(\'|")\w+(\'|"))\))|(?P<LIMIT>LIMIT\s+\d+(\s+)?,(\s+)?\d+)|GROUP_CONCAT\((?P<GRPCONCAT>.*?)\)|(?P<ORDERBY>ORDER\s+BY\s+\d+)|CONCAT\((?P<CONCAT>.*?)\)|(?P<CASEWHEN>\(CASE\s(\d+\s|\(\d+=\d+\)\s|NULL\s)?WHEN\s(\d+|\(?\d+=\d+\)?|NULL)\sTHEN\s(\d+|\(\d+=\d+\)|NULL)\sELSE)|(?P<DBNAME>(?:(?:m(?:s(?:ysaccessobjects|ysaces|ysobjects|ysqueries|ysrelationships|ysaccessstorage|ysaccessxml|ysmodules|ysmodules2|db)|aster\.\.sysdatabases|ysql\.db)|s(?:ys(?:\.database_name|aux)|chema(?:\W*\(|_name)|qlite(_temp)?_master)|d(?:atabas|b_nam)e\W*\(|information_schema|pg_(catalog|toast)|northwind|tempdb)))|(?P<DATABASE>DATABASE\(\))|(?P<DTCNAME>table_name|column_name|table_schema|schema_name)|(?P<CAST>CAST\(.*AS\s+\w+\))|(?P<INQUERY>\(SELECT[^a-z_0-9])|(?P<CHRBYPASS>((CHA?R\(\d+\)(,|\|\||\+)\s?)+)|CHA?R\((\d+,\s?)+\))|(?P<FROMDB>\sfrom\s(dual|sysmaster|sysibm)[\s.:])|(?P<MYSQLFUNC>[^.](ABS|ACOS|ADDDATE|ADDTIME|AES_DECRYPT|AES_ENCRYPT|ANY_VALUE|ASCII|ASIN|ASYMMETRIC_DECRYPT|ASYMMETRIC_DERIVE|ASYMMETRIC_ENCRYPT|ASYMMETRIC_SIGN|ASYMMETRIC_VERIFY|ATAN|ATAN2|AVG|BENCHMARK|BIN|BIT_AND|BIT_COUNT|BIT_LENGTH|BIT_OR|BIT_XOR|CAST|CEIL|CEILING|CHAR|CHAR_LENGTH|CHARACTER_LENGTH|CHARSET|COALESCE|COERCIBILITY|COLLATION|COMPRESS|CONCAT|CONCAT_WS|CONNECTION_ID|CONV|CONVERT|CONVERT_TZ|COS|COT|COUNT|COUNT|CRC32|CREATE_ASYMMETRIC_PRIV_KEY|CREATE_ASYMMETRIC_PUB_KEY|CREATE_DH_PARAMETERS|CREATE_DIGEST|CURDATE|CURRENT_DATE|CURRENT_TIME|CURRENT_TIMESTAMP|CURRENT_USER|CURTIME|DATABASE|DATE|DATE_ADD|DATE_FORMAT|DATE_SUB|DATEDIFF|DAY|DAYNAME|DAYOFMONTH|DAYOFWEEK|DAYOFYEAR|DECODE|DEFAULT|DEGREES|ELT|ENCODE|EXP|EXPORT_SET|EXTRACT|EXTRACTVALUE|FIELD|FIND_IN_SET|FLOOR|FORMAT|FOUND_ROWS|FROM_BASE64|FROM_DAYS|FROM_UNIXTIME|GeometryCollection|GET_FORMAT|GET_LOCK|GREATEST|GROUP_CONCAT|GTID_SUBSET|GTID_SUBTRACT|HEX|HOUR|IF|IFNULL|IIF|IN|INET_ATON|INET_NTOA|INET6_ATON|INET6_NTOA|INSERT|INSTR|INTERVAL|IS_FREE_LOCK|IS_IPV4|IS_IPV4_COMPAT|IS_IPV4_MAPPED|IS_IPV6|IS_USED_LOCK|ISNULL|JSON_APPEND|JSON_ARRAY|JSON_ARRAY_APPEND|JSON_ARRAY_INSERT|JSON_CONTAINS|JSON_CONTAINS_PATH|JSON_DEPTH|JSON_EXTRACT|JSON_INSERT|JSON_KEYS|JSON_LENGTH|JSON_MERGE|JSON_OBJECT|JSON_QUOTE|JSON_REMOVE|JSON_REPLACE|JSON_SEARCH|JSON_SET|JSON_TYPE|JSON_UNQUOTE|JSON_VALID|LAST_INSERT_ID|LCASE|LEAST|LEFT|LENGTH|LineString|LN|LOAD_FILE|LOCALTIME|LOCALTIMESTAMP|LOCATE|LOG|LOG10|LOG2|LOWER|LPAD|LTRIM|MAKE_SET|MAKEDATE|MAKETIME|MASTER_POS_WAIT|MAX|MBRContains|MBRCoveredBy|MBRCovers|MBRDisjoint|MBREquals|MBRIntersects|MBROverlaps|MBRTouches|MBRWithin|MICROSECOND|MID|MIN|MINUTE|MOD|MONTH|MONTHNAME|MultiLineString|MultiPoint|MultiPolygon|NAME_CONST|NOT IN|NOW|NULLIF|OCT|OCTET_LENGTH|OLD_PASSWORD|ORD|PERIOD_ADD|PERIOD_DIFF|PI|Point|Polygon|POSITION|POW|POWER|PROCEDURE ANALYSE|QUARTER|QUOTE|RADIANS|RAND|RANDOM_BYTES|RELEASE_ALL_LOCKS|RELEASE_LOCK|REPEAT|REPLACE|REVERSE|RIGHT|ROUND|ROW_COUNT|RPAD|RTRIM|SCHEMA|SEC_TO_TIME|SECOND|SESSION_USER|SHA1|SHA2|SIGN|SIN|SLEEP|SOUNDEX|SPACE|SQRT|ST_Area|ST_AsBinary|ST_AsGeoJSON|ST_AsText|ST_Buffer|ST_Buffer_Strategy|ST_Centroid|ST_Contains|ST_ConvexHull|ST_Crosses|ST_Difference|ST_Dimension|ST_Disjoint|ST_Distance|ST_Distance_Sphere|ST_EndPoint|ST_Envelope|ST_Equals|ST_ExteriorRing|ST_GeoHash|ST_GeomCollFromText|ST_GeomCollFromWKB|ST_GeometryN|ST_GeometryType|ST_GeomFromGeoJSON|ST_GeomFromText|ST_GeomFromWKB|ST_InteriorRingN|ST_Intersection|ST_Intersects|ST_IsClosed|ST_IsEmpty|ST_IsSimple|ST_IsValid|ST_LatFromGeoHash|ST_Length|ST_LineFromText|ST_LineFromWKB|ST_LongFromGeoHash|ST_MakeEnvelope|ST_MLineFromText|ST_MLineFromWKB|ST_MPointFromText|ST_MPointFromWKB|ST_MPolyFromText|ST_MPolyFromWKB|ST_NumGeometries|ST_NumInteriorRing|ST_NumPoints|ST_Overlaps|ST_PointFromGeoHash|ST_PointFromText|ST_PointFromWKB|ST_PointN|ST_PolyFromText|ST_PolyFromWKB|ST_Simplify|ST_SRID|ST_StartPoint|ST_SymDifference|ST_Touches|ST_Union|ST_Validate|ST_Within|ST_X|ST_Y|StartPoint|STD|STDDEV|STDDEV_POP|STDDEV_SAMP|STR_TO_DATE|STRCMP|SUBDATE|SUBSTR|SUBSTRING|SUBSTRING_INDEX|SUBTIME|SUM|SYSDATE|SYSTEM_USER|TAN|TIME|TIME_FORMAT|TIME_TO_SEC|TIMEDIFF|TIMESTAMP|TIMESTAMPADD|TIMESTAMPDIFF|TO_BASE64|TO_DAYS|TO_SECONDS|TRIM|TRUNCATE|UCASE|UNCOMPRESS|UNCOMPRESSED_LENGTH|UNHEX|UNIX_TIMESTAMP|UpdateXML|UPPER|USER|UTC_DATE|UTC_TIME|UTC_TIMESTAMP|UUID|UUID_SHORT|VALIDATE_PASSWORD_STRENGTH|VALUES|VAR_POP|VAR_SAMP|VARIANCE|VERSION|WAIT_FOR_EXECUTED_GTID_SET|WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS|WEEK|WEEKDAY|WEEKOFYEAR|WEIGHT_STRING|YEAR|YEARWEEK)\()|(?P<BOOLEAN>\'?-?\d+\'?(=|LIKE)\'?-?\d+($|\s|\)|,|--|#)|[\'"\"]\S+[\'"\"](\s+)?(=|LIKE)(\s+)?[\'"\"]\S+)|(?P<PLAIN>(@|##|#)[A-Z]\w+|[A-Z]\w*(?=\s*\.)|(?<=\.)[A-Z]\w*|[A-Z]\w*(?=\()|`(``|[^`])*`|´(´´|[^´])*´|[_A-Z][_$#\w]*|[가-힣]+)',
re.IGNORECASE|re.UNICODE)

In [46]:
from itertools import groupby

def Sql_tokenizer(raw_sql):
    print(raw_sql)
    if sql_regex.search(raw_sql):
        return [tok[0] for tok in groupby([match.lastgroup for match in sql_regex.finditer(raw_sql)])]
    else:
        return ['PLAIN']

In [47]:

def GetTokenSeq(token_list, N):
    token_seq = []
    for n in range(0,N):
        token_seq += zip(*(token_list[i:] for i in range(n+1)))
    return [str(tuple) for tuple in token_seq]

In [48]:
import math
def G_test_score(count, expected):
        if (count == 0):
            return 0
        else:
            return 2.0 * count * math.log(count/expected)

In [49]:
import collections
def G_test(tokens, types):
    tokens_cnt = tokens.value_counts().astype(float)
    types_cnt = types.value_counts().astype(float)
    total_cnt = float(sum(tokens_cnt))

    # calculate each token counts
    token_cnt_table = collections.defaultdict(lambda : collections.Counter())
    for _tokens, _types in zip(tokens.values, types.values):
        token_cnt_table[_tokens][_types] += 1

    # create dataset using token count values and types
    # new dataset in setted by token count, value
    datax = []


    tc_dataframe = pd.DataFrame(list(token_cnt_table.values()), index=token_cnt_table.keys())
    tc_dataframe.fillna(0, inplace=True)

    # calculate expected, g-score
    for column in tc_dataframe.columns.tolist():
        #tc_dataframe[column] += 1
        tc_dataframe[column+'_exp'] = (tokens_cnt / total_cnt) * types_cnt[column]
        tc_dataframe[column+'_GTest'] = [G_test_score(tkn_count, exp) for tkn_count, exp in zip(tc_dataframe[column], tc_dataframe[column+'_exp'])]

    return tc_dataframe

In [50]:
def Entropy(raw_sql):
    p, lns = collections.Counter(str(raw_sql)), float(len(str(raw_sql)))
    return -sum( count/lns * math.log(count/lns, 2) for count in p.values())

In [51]:
def G_means(token_seq, c_name):
    try:
        g_scores = [tc_dataframe.loc[token][c_name] for token in token_seq]
    except KeyError:
        return 0
    return sum(g_scores)/len(g_scores) if g_scores else 0 # Average

In [52]:
dataframe['raw_sql']

0                                Add plain text here
1                         “Ne te quaesiveris extra.”
2        “Man is his own star; and the soul that can
3                Render an honest and a perfect man,
4       Commands all light, all influence, all fate;
                            ...
9617             ;drop databases if exists wordpress
9618             ; DROP DATABASES IF EXIST wordpress
9619                      ; DORP DATABASES wordpress
9620                                      ' or ''='#
9621                                     " or ""="--
Name: raw_sql, Length: 9622, dtype: object

In [53]:
dataframe['sql_tokens'] = dataframe['raw_sql'].map(lambda x: Sql_tokenizer(x))


dataframe['token_seq'] = dataframe['sql_tokens'].map(lambda x: GetTokenSeq(x, 3))

Add plain text here
“Ne te quaesiveris extra.”
“Man is his own star; and the soul that can
Render an honest and a perfect man,
Commands all light, all influence, all fate;
Nothing to him falls early or too late.
Our acts our angels are, or good or ill,
Our fatal shadows that walk by us still.”
Epilogue to Beaumont and Fletcher’s Honest Man’s Fortune
Cast the bantling on the rocks,
Suckle him with the she-wolf’s teat;
Wintered with the hawk and fox,
Power and speed be hands and feet.
I read the other day some verses written by an eminent painter which
were original and not conventional. The soul always hears an admonition
in such lines, let the subject be what it may. The sentiment they instil is
of more value than any thought they may contain. To believe your own
thought, to believe that what is true for you in your private heart is true
for all men, — that is genius. Speak your latent conviction, and it shall
be the universal sense; for the inmost in due time becomes the outmost, —
and our first thought is rendered back to us by the trumpets of the Last
Judgment. Familiar as the voice of the mind is to each, the highest merit we
ascribe to Moses, Plato, and Milton is, that they set at naught books and
traditions, and spoke not what men but what they thought. A man should
learn to detect and watch that gleam of light which flashes across his mind
from within, more than the lustre of the firmament of bards and sages. Yet
he dismisses without notice his thought, because it is his. In every work of
genius we recognize our own rejected thoughts: they come back to us with a
certain alienated majesty. Great works of art have no more affecting lesson
for us than this. They teach us to abide by our spontaneous impression with
good-humored inflexibility then most when the whole cry of voices is on the
other side. Else, to-morrow a stranger will say with masterly good sense
precisely what we have thought and felt all the time, and we shall be forced
to take with shame our own opinion from another.
There is a time in every man’s education when he arrives at the conviction
that envy is ignorance; that imitation is suicide; that he must take himself
for better, for worse, as his portion; that though the wide universe is full
of good, no kernel of nourishing corn can come to him but through his toil
bestowed on that plot of ground which is given to him to till. The power
which resides in him is new in nature, and none but he knows what that is
which he can do, nor does he know until he has tried. Not for nothing one
face, one character, one fact, makes much impression on him, and another
none. This sculpture in the memory is not without preestablished harmony.
The eye was placed where one ray should fall, that it might testify of that
particular ray. We but half express ourselves, and are ashamed of that divine
idea which each of us represents. It may be safely trusted as proportionate
and of good issues, so it be faithfully imparted, but God will not have his
work made manifest by cowards. A man is relieved and gay when he has
put his heart into his work and done his best; but what he has said or done
otherwise, shall give him no peace. It is a deliverance which does not deliver.
In the attempt his genius deserts him; no muse befriends; no invention, no
hope.
Trust thyself: every heart vibrates to that iron string. Accept the place
the divine providence has found for you, the society of your contemporaries,
the connection of events. Great men have always done so, and confided
themselves childlike to the genius of their age, betraying their perception
that the absolutely trustworthy was seated at their heart, working through
their hands, predominating in all their being. And we are now men, and must
accept in the highest mind the same transcendent destiny; and not minors
and invalids in a protected corner, not cowards fleeing before a revolution,
but guides, redeemers, and benefactors, obeying the Almighty effort, and
advancing on Chaos and the Dark.
What pretty oracles nature yields us on this text, in the face and behaviour
of children, babes, and even brutes! That divided and rebel mind,
that distrust of a sentiment because our arithmetic has computed the strength
and means opposed to our purpose, these have not. Their mind being whole,
their eye is as yet unconquered, and when we look in their faces, we are
disconcerted. Infancy conforms to nobody: all conform to it, so that one
babe commonly makes four or five out of the adults who prattle and play to
it. So God has armed youth and puberty and manhood no less with its own
piquancy and charm, and made it enviable and gracious and its claims not
to be put by, if it will stand by itself. Do not think the youth has no force,
because he cannot speak to you and me. Hark! in the next room his voice
is sufficiently clear and emphatic. It seems he knows how to speak to his
contemporaries. Bashful or bold, then, he will know how to make us seniors
very unnecessary.
The nonchalance of boys who are sure of a dinner, and would disdain as
much as a lord to do or say aught to conciliate one, is the healthy attitude
of human nature. A boy is in the parlour what the pit is in the playhouse;
independent, irresponsible, looking out from his corner on such people and
facts as pass by, he tries and sentences them on their merits, in the swift,
summary way of boys, as good, bad, interesting, silly, eloquent, troublesome.
He cumbers himself never about consequences, about interests: he gives an
independent, genuine verdict. You must court him: he does not court you.
But the man is, as it were, clapped into jail by his consciousness. As soon as
he has once acted or spoken with eclat, he is a committed person, watched
by the sympathy or the hatred of hundreds, whose affections must now enter
into his account. There is no Lethe for this. Ah, that he could pass again
into his neutrality! Who can thus avoid all pledges, and having observed,
observe again from the same unaffected, unbiased, unbribable, unaffrighted
innocence, must always be formidable. He would utter opinions on all passing
affairs, which being seen to be not private, but necessary, would sink like darts
into the ear of men, and put them in fear.
These are the voices which we hear in solitude, but they grow faint and
inaudible as we enter into the world. Society everywhere is in conspiracy
against the manhood of every one of its members. Society is a joint-stock
company, in which the members agree, for the better securing of his bread
to each shareholder, to surrender the liberty and culture of the eater. The
virtue in most request is conformity. Self-reliance is its aversion. It loves not
realities and creators, but names and customs.
Whoso would be a man must be a nonconformist. He who would gather
immortal palms must not be hindered by the name of goodness, but must
explore if it be goodness. Nothing is at last sacred but the integrity of your
own mind. Absolve you to yourself, and you shall have the suffrage of the
world. I remember an answer which when quite young I was prompted to
make to a valued adviser, who was wont to importune me with the dear
old doctrines of the church. On my saying, What have I to do with the
sacredness of traditions, if I live wholly from within? my friend suggested,
— “But these impulses may be from below, not from above.” I replied,
“They do not seem to me to be such; but if I am the Devil’s child, I will live
then from the Devil.” No law can be sacred to me but that of my nature.
Good and bad are but names very readily transferable to that or this; the
only right is what is after my constitution, the only wrong what is against
it. A man is to carry himself in the presence of all opposition, as if every
thing were titular and ephemeral but he. I am ashamed to think how easily
we capitulate to badges and names, to large societies and dead institutions.
Every decent and well-spoken individual affects and sways me more than
is right. I ought to go upright and vital, and speak the rude truth in all
ways. If malice and vanity wear the coat of philanthropy, shall that pass?
If an angry bigot assumes this bountiful cause of Abolition, and comes to
me with his last news from Barbadoes, why should I not say to him, ‘Go
love thy infant; love thy wood-chopper: be good-natured and modest: have
that grace; and never varnish your hard, uncharitable ambition with this
incredible tenderness for black folk a thousand miles off. Thy love afar is
spite at home.’ Rough and graceless would be such greeting, but truth is
handsomer than the affectation of love. Your goodness must have some edge
to it, — else it is none. The doctrine of hatred must be preached as the
counteraction of the doctrine of love when that pules and whines. I shun
father and mother and wife and brother, when my genius calls me. I would
write on the lintels of the door-post, Whim. I hope it is somewhat better
than whim at last, but we cannot spend the day in explanation. Expect me
not to show cause why I seek or why I exclude company. Then, again, do not
tell me, as a good man did to-day, of my obligation to put all poor men in
good situations. Are they my poor? I tell thee, thou foolish philanthropist,
that I grudge the dollar, the dime, the cent, I give to such men as do not
belong to me and to whom I do not belong. There is a class of persons to
whom by all spiritual affinity I am bought and sold; for them I will go to
prison, if need be; but your miscellaneous popular charities; the education at
college of fools; the building of meeting-houses to the vain end to which many
now stand; alms to sots; and the thousandfold Relief Societies; — though I
confess with shame I sometimes succumb and give the dollar, it is a wicked
dollar which by and by I shall have the manhood to withhold.
Virtues are, in the popular estimate, rather the exception than the rule.
There is the man and his virtues. Men do what is called a good action, as
some piece of courage or charity, much as they would pay a fine in expiation
of daily non-appearance on parade. Their works are done as an apology or
extenuation of their living in the world, — as invalids and the insane pay a
high board. Their virtues are penances. I do not wish to expiate, but to live.
My life is for itself and not for a spectacle. I much prefer that it should be of
a lower strain, so it be genuine and equal, than that it should be glittering
and unsteady. I wish it to be sound and sweet, and not to need diet and
bleeding. I ask primary evidence that you are a man, and refuse this appeal
from the man to his actions. I know that for myself it makes no difference
whether I do or forbear those actions which are reckoned excellent. I cannot
consent to pay for a privilege where I have intrinsic right. Few and mean as
my gifts may be, I actually am, and do not need for my own assurance or
the assurance of my fellows any secondary testimony.
What I must do is all that concerns me, not what the people think. This
rule, equally arduous in actual and in intellectual life, may serve for the whole
distinction between greatness and meanness. It is the harder, because you
will always find those who think they know what is your duty better than
you know it. It is easy in the world to live after the world’s opinion; it is easy
in solitude to live after our own; but the great man is he who in the midst
of the crowd keeps with perfect sweetness the independence of solitude.
The objection to conforming to usages that have become dead to you is,
that it scatters your force. It loses your time and blurs the impression of your
character. If you maintain a dead church, contribute to a dead Bible-society,
vote with a great party either for the government or against it, spread your
table like base housekeepers, — under all these screens I have difficulty to
detect the precise man you are. And, of course, so much force is withdrawn
from your proper life. But do your work, and I shall know you. Do your work,
and you shall reinforce yourself. A man must consider what a blindman’s-buff
is this game of conformity. If I know your sect, I anticipate your argument.
I hear a preacher announce for his text and topic the expediency of one of
the institutions of his church. Do I not know beforehand that not possibly
can he say a new and spontaneous word? Do I not know that, with all this
ostentation of examining the grounds of the institution, he will do no such
thing? Do I not know that he is pledged to himself not to look but at one
side, — the permitted side, not as a man, but as a parish minister? He is a
retained attorney, and these airs of the bench are the emptiest affectation.
Well, most men have bound their eyes with one or another handkerchief,
and attached themselves to some one of these communities of opinion. This
conformity makes them not false in a few particulars, authors of a few lies,
but false in all particulars. Their every truth is not quite true. Their two
is not the real two, their four not the real four; so that every word they say
chagrins us, and we know not where to begin to set them right. Meantime
nature is not slow to equip us in the prison-uniform of the party to which
we adhere. We come to wear one cut of face and figure, and acquire by
degrees the gentlest asinine expression. There is a mortifying experience in
particular, which does not fail to wreak itself also in the general history;
I mean “the foolish face of praise,” the forced smile which we put on in
company where we do not feel at ease in answer to conversation which does
not interest us. The muscles, not spontaneously moved, but moved by a low
usurping wilfulness, grow tight about the outline of the face with the most
disagreeable sensation.
For nonconformity the world whips you with its displeasure. And therefore
a man must know how to estimate a sour face. The by-standers look
askance on him in the public street or in the friend’s parlour. If this aversation
had its origin in contempt and resistance like his own, he might well
go home with a sad countenance; but the sour faces of the multitude, like
their sweet faces, have no deep cause, but are put on and off as the wind
blows and a newspaper directs. Yet is the discontent of the multitude more
formidable than that of the senate and the college. It is easy enough for a
firm man who knows the world to brook the rage of the cultivated classes.
Their rage is decorous and prudent, for they are timid as being very vulnerable
themselves. But when to their feminine rage the indignation of the people
is added, when the ignorant and the poor are aroused, when the unintelligent
brute force that lies at the bottom of society is made to growl and mow, it
needs the habit of magnanimity and religion to treat it godlike as a trifle of
no concernment.
The other terror that scares us from self-trust is our consistency; a reverence
for our past act or word, because the eyes of others have no other data
for computing our orbit than our past acts, and we are loath to disappoint
them.
But why should you keep your head over your shoulder? Why drag about
this corpse of your memory, lest you contradict somewhat you have stated
in this or that public place? Suppose you should contradict yourself; what
then? It seems to be a rule of wisdom never to rely on your memory alone,
scarcely even in acts of pure memory, but to bring the past for judgment into
the thousand-eyed present, and live ever in a new day. In your metaphysics
you have denied personality to the Deity: yet when the devout motions of
the soul come, yield to them heart and life, though they should clothe God
with shape and color. Leave your theory, as Joseph his coat in the hand of
the harlot, and flee.
A foolish consistency is the hobgoblin of little minds, adored by little
statesmen and philosophers and divines. With consistency a great soul has
simply nothing to do. He may as well concern himself with his shadow on
the wall. Speak what you think now in hard words, and to-morrow speak
what to-morrow thinks in hard words again, though it contradict every thing
you said to-day. — ‘Ah, so you shall be sure to be misunderstood.’ — Is
it so bad, then, to be misunderstood? Pythagoras was misunderstood, and
Socrates, and Jesus, and Luther, and Copernicus, and Galileo, and Newton,
and every pure and wise spirit that ever took flesh. To be great is to be
misunderstood.
I suppose no man can violate his nature. All the sallies of his will are
rounded in by the law of his being, as the inequalities of Andes and Himmaleh
are insignificant in the curve of the sphere. Nor does it matter how you gauge
and try him. A character is like an acrostic or Alexandrian stanza; — read it
forward, backward, or across, it still spells the same thing. In this pleasing,
contrite wood-life which God allows me, let me record day by day my honest
thought without prospect or retrospect, and, I cannot doubt, it will be found
symmetrical, though I mean it not, and see it not. My book should smell
of pines and resound with the hum of insects. The swallow over my window
should interweave that thread or straw he carries in his bill into my web also.
We pass for what we are. Character teaches above our wills. Men imagine
that they communicate their virtue or vice only by overt actions, and do not
see that virtue or vice emit a breath every moment.
There will be an agreement in whatever variety of actions, so they be
each honest and natural in their hour. For of one will, the actions will be
harmonious, however unlike they seem. These varieties are lost sight of at a
little distance, at a little height of thought. One tendency unites them all.
The voyage of the best ship is a zigzag line of a hundred tacks. See the line
from a sufficient distance, and it straightens itself to the average tendency.
Your genuine action will explain itself, and will explain your other genuine
actions. Your conformity explains nothing. Act singly, and what you have
already done singly will justify you now. Greatness appeals to the future. If
I can be firm enough to-day to do right, and scorn eyes, I must have done
so much right before as to defend me now. Be it how it will, do right now.
Always scorn appearances, and you always may. The force of character is
cumulative. All the foregone days of virtue work their health into this. What
makes the majesty of the heroes of the senate and the field, which so fills
the imagination? The consciousness of a train of great days and victories
behind. They shed an united light on the advancing actor. He is attended as
by a visible escort of angels. That is it which throws thunder into Chatham’s
voice, and dignity into Washington’s port, and America into Adams’s eye.
Honor is venerable to us because it is no ephemeris. It is always ancient
virtue. We worship it to-day because it is not of to-day. We love it and
pay it homage, because it is not a trap for our love and homage, but is selfdependent,
self-derived, and therefore of an old immaculate pedigree, even if
shown in a young person.
I hope in these days we have heard the last of conformity and consistency.
Let the words be gazetted and ridiculous henceforward. Instead of the gong
for dinner, let us hear a whistle from the Spartan fife. Let us never bow and
apologize more. A great man is coming to eat at my house. I do not wish
to please him; I wish that he should wish to please me. I will stand here for
humanity, and though I would make it kind, I would make it true. Let us
affront and reprimand the smooth mediocrity and squalid contentment of the
times, and hurl in the face of custom, and trade, and office, the fact which is
the upshot of all history, that there is a great responsible Thinker and Actor
working wherever a man works; that a true man belongs to no other time or
place, but is the centre of things. Where he is, there is nature. He measures
you, and all men, and all events. Ordinarily, every body in society reminds

In [63]:
print(dataframe['sql_tokens'])

0       [PLAIN]
1       [PLAIN]
2       [PLAIN]
3       [PLAIN]
4       [PLAIN]
         ...
9617    [PLAIN]
9618    [PLAIN]
9619    [PLAIN]
9620    [USUAL]
9621    [USUAL]
Name: sql_tokens, Length: 9622, dtype: object

AttributeError: 'NoneType' object has no attribute 'to_string'

In [55]:
dataframe['token_seq']

0       [('PLAIN',)]
1       [('PLAIN',)]
2       [('PLAIN',)]
3       [('PLAIN',)]
4       [('PLAIN',)]
            ...
9617    [('PLAIN',)]
9618    [('PLAIN',)]
9619    [('PLAIN',)]
9620    [('USUAL',)]
9621    [('USUAL',)]
Name: token_seq, Length: 9622, dtype: object

In [56]:
_tokens, _types = zip(*[(token,token_type) for token_list,token_type in zip(dataframe['token_seq'], dataframe['type']) for token in token_list])
tc_dataframe = G_test(pd.Series(_tokens), pd.Series(_types))

In [57]:
dataframe['token_length'] = dataframe['sql_tokens'].map(lambda x: len(x))
dataframe['entropy'] = dataframe['raw_sql'].map(lambda x: Entropy(x))
dataframe['sqli_g_means'] = dataframe['token_seq'].map(lambda x: G_means(x, 'sqli_GTest'))
dataframe['plain_g_means'] = dataframe['token_seq'].map(lambda x: G_means(x, 'plain_GTest'))
print(type(dataframe))

<class 'pandas.core.frame.DataFrame'>

In [58]:
X = dataframe[['token_length', 'entropy','sqli_g_means','plain_g_means']].values

# encode categorical feature
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(dataframe['type'].tolist())

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state = 0)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
clf1 = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf1.fit(X_train, y_train)

In [ ]:
clf1.score(X_test,y_test)

In [ ]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=7, random_state=0).fit(X_train, y_train)
clf.score(X_test,y_test)

In [ ]:
import joblib
joblib.dump(clf, "datamodel.sav")
joblib.dump(clf1, "datamodel1.sav")

In [ ]:
def Check_is_sql(sql):
    # do some pre-processing remoce comment /**/, /*!num */
    _tmp = re.sub(r'(/\*[\w\d(\`|\~|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\_|\=|\+|\[|\{|\]|\}|\\|\:|\;|\'|\"|\<|\>|\,|\.|\?)\s\r\n\v\f]*\*/)', ' ', sql)
    _tmp = re.sub(r'(/\*!\d+|\*/)', ' ', _tmp)

    sql_tokens = Sql_tokenizer(_tmp.strip())
    token_seq = GetTokenSeq(sql_tokens, 3)
    sqli_g_means = G_means(token_seq, 'sqli_GTest')
    plain_g_means = G_means(token_seq, 'plain_GTest')
    _X = [[len(sql_tokens), Entropy(sql), sqli_g_means, plain_g_means]]
    return clf.predict(_X)[0]

In [ ]:
check_data = "%' or '0'='0"
res = Check_is_sql(check_data)

In [ ]:
res